atomicwrites==1.4.0
attrs==21.4.0
colorama==0.4.5
Django==2.2.9
iniconfig==1.1.1
packaging==21.3
Pillow==9.1.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-django==3.8.0
pytz==2022.1
six==1.16.0
sorl-thumbnail==12.8.0
sqlparse==0.4.2
tomli==2.0.1
