{% extends "base.html" %}
{% block title %} Подписки {% endblock %}

{% block content %}
    <div class="container">
           {% include "menu.html" with index=True %}
            <!-- Вывод ленты записей -->
                {% if cnt_of_posts > 0 %}
                    {% for post in page %}
                      <!-- Вот он, новый include! -->
                        {% include "post_item.html" with post=post %}
                    {% endfor %}
                {% else %}
                    <h1>Вы ещё ни на кого не подписались!</h1>
                    <h5>(Или Авторы ничего не опубликовали)</h5>
                {% endif %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}